[submodule "apigrabber"]
	path = apigrabber
	url = https://gitlab.com/vainglorygame/apigrabber.git
[submodule "processor"]
	path = processor
	url = https://gitlab.com/vainglorygame/processor.git
[submodule "compiler"]
	path = compiler
	url = https://gitlab.com/vainglorygame/compiler.git
[submodule "discordbot"]
	path = discordbot
	url = https://gitlab.com/vainglorygame/discordbot.git
[submodule "preloader"]
	path = preloader
	url = https://gitlab.com/vainglorygame/preloader.git
[submodule "vaindock"]
	path = vaindock
	url = https://gitlab.com/vainglorygame/vaindock.git
[submodule "vainsocial"]
	path = vainsocial
	url = https://gitlab.com/vainglorygame/vainsocial.git
[submodule "vainglorygame.github.io"]
	path = vainglorygame.github.io
	url = https://gitlab.com/vainglorygame/vainglorygame.github.io.git
[submodule "analyzer"]
	path = analyzer
	url = https://gitlab.com/vainglorygame/analyzer.git
[submodule "cruncher"]
	path = cruncher
	url = https://gitlab.com/vainglorygame/cruncher.git
[submodule "minionlivesmatter"]
	path = minionlivesmatter
	url = https://gitlab.com/vainglorygame/minionlivesmatter.git
[submodule "updater"]
	path = updater
	url = https://gitlab.com/vainglorygame/updater.git
