[submodule "apigrabber"]
	path = apigrabber
	url = https://github.com/vainglorygame/apigrabber
	branch = releases/1.0.0
[submodule "processor"]
	path = processor
	url = https://github.com/vainglorygame/processor
	branch = releases/1.0.0
[submodule "statscompiler"]
	path = statscompiler
	url = https://github.com/vainglorygame/statscompiler
	branch = releases/1.0.0
[submodule "discordbot"]
	path = discordbot
	url = https://github.com/vainglorygame/discordbot
	branch = releases/1.0.0
[submodule "preloader"]
	path = preloader
	url = https://github.com/vainglorygame/preloader
	branch = releases/1.0.0
[submodule "vaindock"]
	path = vaindock
	url = https://github.com/vainglorygame/vaindock
	branch = develop
[submodule "vainsocial"]
	path = vainsocial
	url = https://github.com/vainglorygame/vainsocial
	branch = releases/1.0.0
[submodule "vainglorygame.github.io"]
	path = vainglorygame.github.io
	url = https://github.com/vainglorygame/vainglorygame.github.io
