[Unit]
Description=Vainsocial processor service
After=network.target

[Service]
Type=simple
User=vainsocial
ExecStart=/vainsocial/processor/venv/bin/python /vainsocial/processor/api.py
Restart=on-failure
EnvironmentFile=/vainsocial/config.env

[Install]
WantedBy=multi-user.target
